@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:800&display=swap);

@charset "UTF-8";

:root {
  --color-main: #000;
  --color-title: #444560;
  --color-cobalt: #0A6FC7;
  --color-blue: #E2ECFC;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 300px;
}

body {
  color: var(--color-main);
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 60px;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1,
h2 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-title);
  line-height: 1.2;
}

h2 {
  text-align: center;
}

.button {
  font-weight: 700;
  color: #fff;
  background: var(--color-cobalt);
  padding: 20px 60px;
  border-radius: 30px;
}

.subtitle {
  font-family: Roboto Condensed;
  font-size: 30px;
  font-weight: 300;
  color: var(--color-title);
  text-align: center;
}

.desc {
  line-height: 1.9;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: var(--color-blue);
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 0;
}

.header__logo-img {
  margin: 0 15px 0 0;
  max-width: 73px;
}

.header__logo-img img {
  width: 100%;
  height: 100%;
}

.header__logo-text {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 800;
  color: var(--color-title);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-link {
  font-weight: 500;
  padding: 22px 20px;
  white-space: nowrap;
}

.header__phone-link {
  font-weight: 500;
  padding: 5px 20px;
  white-space: nowrap;
}

.icon-menu {
  display: none;
}

.burger__menu {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.burger__menu-nav {
  background-color: #fff;
  border-radius: 8px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
          box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
  padding: 20px;
  position: absolute;
  right: 24px;
  top: 63px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}

.burger__menu-item {
  padding: 6px 0;
  opacity: 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: translatex(-10px);
      -ms-transform: translatex(-10px);
          transform: translatex(-10px);
}

.burger__menu-item:last-child {
  padding: 6px 0 0 0;
}

.menu-open .burger__menu-nav {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu-open .burger__menu-item {
  -webkit-animation: fadeInItem 0.6s 0.2s forwards;
          animation: fadeInItem 0.6s 0.2s forwards;
}

.menu-open .burger__menu-item:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menu-open .burger__menu-item:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menu-open .burger__menu-item:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.menu-open .burger__menu-item:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes fadeInItem {
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
    opacity: 1;
  }
}

@keyframes fadeInItem {
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
    opacity: 1;
  }
}

.footer {
  background: var(--color-blue);
  padding: 26px 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 70px 0 0;
}

.footer__logo-img {
  width: 120px;
  height: 70px;
}

.footer__logo-img img,
.footer__logo-img sourse {
  width: 100%;
  height: 100%;
}

.footer__logo-text {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 800;
  color: var(--color-title);
}

.footer__text {
  line-height: 1.9;
}

.footer__text-bold {
  font-weight: 700;
}

.no-webp .main{
  background: #fff url("../img/main_background.jpg") center center no-repeat; }

.main {
  background-size: contain;
  padding: 110px 0;
}

.main__body {
  max-width: 550px;
}

.main__title {
  margin: 0 0 26px 0;
}

.main__desc {
  margin: 0 0 38px 0;
}

.benefits {
  background: #f8fafe;
  padding: 30px 0 80px 0;
}

.no-webp .benefits__body{
  background: url("../img/benefits/benefits_background.png") center center no-repeat; }

.benefits__body {
  max-width: 1000px;
  margin: 0 auto;
}

.benefits__title {
  margin-bottom: 12px;
}

.benefits__subtitle {
  margin-bottom: 30px;
}

.benefits__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin: -40px -84px;
}

.benefits__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 84px;
}

.benefits__item::before {
  content: "";
  margin: 0 0 14px 0;
  z-index: 1;
}

.benefits__item::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 4px;
  left: -45px;
  width: 156px;
  height: 156px;
}

.no-webp .benefits__item:nth-child(1)::before{
  background: url("../img/benefits/benefits_svezhiy.png") center center no-repeat; }

.benefits__item:nth-child(1)::before {
  width: 91px;
  height: 91px;
}

.no-webp .benefits__item:nth-child(1)::after{
  background: url("../img/benefits/benefits_decor-1.png") center center no-repeat; }

.benefits__item:nth-child(1)::after {
  background-size: contain;
}

.no-webp .benefits__item:nth-child(2)::before{
  background: url("../img/benefits/benefits_zhivoy.png") center center no-repeat; }

.benefits__item:nth-child(2)::before {
  width: 88px;
  height: 91px;
}

.no-webp .benefits__item:nth-child(2)::after{
  background: url("../img/benefits/benefits_decor-2.png") center center no-repeat; }

.benefits__item:nth-child(2)::after {
  background-size: contain;
}

.no-webp .benefits__item:nth-child(3)::before{
  background: url("../img/benefits/benefits_pishchevareniye.png") center center no-repeat; }

.benefits__item:nth-child(3)::before {
  width: 93px;
  height: 93px;
}

.no-webp .benefits__item:nth-child(3)::after{
  background: url("../img/benefits/benefits_decor-3.png") center center no-repeat; }

.benefits__item:nth-child(3)::after {
  background-size: contain;
}

.no-webp .benefits__item:nth-child(4)::before{
  background: url("../img/benefits/benefits_immunitet.png") center center no-repeat; }

.benefits__item:nth-child(4)::before {
  width: 90px;
  height: 90px;
}

.no-webp .benefits__item:nth-child(4)::after{
  background: url("../img/benefits/benefits_decor-4.png") center center no-repeat; }

.benefits__item:nth-child(4)::after {
  background-size: contain;
}

.benefits__heading {
  position: relative;
  z-index: 1;
  font-weight: 700;
  margin-bottom: 20px;
}

.benefits__desc {
  position: relative;
  z-index: 1;
}

.products {
  padding: 16px 0 50px 0;
}

.products__title {
  margin-bottom: 40px;
}

.products__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -25px 0;
}

.products__item {
  margin: 25px auto;
}

.products__item-img {
  max-width: 315px;
  max-height: 315px;
  margin: 0 0 8px 0;
}

.products__item-heading {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 800;
  color: var(--color-title);
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.products__item-characteristic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__item-characteristic::before {
  content: "";
  background: url("../img/products_icon.svg") center center no-repeat;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.products__item-characteristic:not(:last-child) {
  margin: 0 0 12px 0;
}

.no-webp .cook{
  background: url("../img/cook_background.png") center center no-repeat; }

.cook {
  position: relative;
  background-size: cover;
  padding: 30px 0 60px 0;
}

.cook::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(157, 191, 242, 0.18)), to(rgba(157, 191, 242, 0)));
  background: linear-gradient(180deg, rgba(157, 191, 242, 0.18) 0%, rgba(157, 191, 242, 0) 100%);
  z-index: 0;
}

.cook__container {
  position: relative;
  z-index: 1;
}

.cook__title {
  margin-bottom: 12px;
}

.cook__subtitle {
  margin-bottom: 20px;
}

.cook__desc {
  max-width: 710px;
  text-align: center;
  margin: 0 auto 35px auto;
}

.cook__yogurtnitsa {
  max-height: 80px !important;
}

.cook__multyvarka {
  max-height: 80px !important;
}

.cook__yogobox {
  max-height: 80px !important;
}

.cook-tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px 30px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.cook-tabs__button {
  margin: 0 5px;
}

.cook-tabs__button._tab-active .cook-tabs__button-img svg {
  fill: var(--color-cobalt);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.cook-tabs__button._tab-active .cook-tabs__button-text {
  color: var(--color-cobalt);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.cook-tabs__button-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 20px 0;
}

.cook-tabs__button-img svg {
  fill: #4d4d4f;
  max-width: 95px;
  max-height: 85px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.cook-tabs__button-text {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.cook-tabs__content {
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cook-tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cook-tabs__item:not(:last-child) {
  margin-bottom: 10px;
}

.cook-tabs__item-img {
  margin-right: 65px;
}

.cook-tabs__item-text {
  max-width: 390px;
}

.where-buy {
  padding: 30px 0 50px 0;
}

.where-buy__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.where-buy__img {
  max-width: 600px;
  max-height: 400px;
}

.where-buy__img img {
  width: 100%;
  height: 100%;
}

.where-buy__title {
  margin-bottom: 12px;
}

.where-buy__subtitle {
  max-width: 750px;
  margin-bottom: 36px;
}

.where-buy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -12px;
  max-width: 1060px;
}

.where-buy__item {
  margin: 12px;
  max-width: 220px;
  max-height: 100px;
}

@media (max-width: 77.49875em) {
  .header__menu-link {
    font-size: 15px;
    padding: 22px 18px;
  }

  .header__phone-link {
    font-size: 15px;
  }

  .no-webp .main{
    background: #fff url("../img/main_background.jpg") 150px center no-repeat; }

  .main {
    background-size: contain;
  }
}

@media (max-width: 61.99875em) {
  .header {
    padding: 10px 0;
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu {
    margin: unset;
  }

  .header__menu-nav {
    display: none;
  }

  .header__phone-link {
    font-size: 18px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.625rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main {
    padding: 60px 0;
  }

  .benefits__list {
    margin: -20px -40px;
  }

  .benefits__item {
    margin: 20px 40px;
  }

  .products__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 47.99875em) {
  h1,
  h2 {
    font-size: 28px;
  }

  .subtitle {
    font-size: 26px;
  }

  .header__phone-link {
    font-size: 16px;
  }

  .no-webp .main{
    background: #fff url("../img/main_background.jpg") -72vw top no-repeat; }

  .main {
    background-size: 200%;
    padding: 30px 0;
  }

  .main__body {
    max-width: unset;
    margin-top: 63%;
  }

  .main__title {
    margin: 0 0 10px 0;
  }

  .benefits__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    margin: -10px 0;
  }

  .benefits__item {
    margin: 10px 0;
  }

  .benefits__item::before {
    margin: 0 0 14px 20px;
  }

  .benefits__item::after {
    left: 0;
  }

  .products__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 35.93625em) {
  body {
    font-size: 0.875rem;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    margin: 0 0 24px 0;
  }

  .cook__yogurtnitsa {
    max-height: 60px !important;
  }

  .cook__multyvarka {
    max-height: 60px !important;
  }

  .cook__yogobox {
    max-height: 60px !important;
  }

  .cook-tabs__navigation {
    padding: 0 0 20px 0;
  }

  .cook-tabs__button-img svg {
    max-width: 60px;
    max-height: 60px;
  }

  .cook-tabs__button-text {
    font-size: 14px;
  }

  .cook-tabs__item-img {
    margin-right: 10px;
  }
}

@media (max-width: 29.99875em) {
  h1,
  h2 {
    font-size: 24px;
  }

  .subtitle {
    font-size: 20px;
  }

  .desc {
    line-height: 1.5;
  }

  .header__logo {
    margin: unset;
  }

  .header__logo-img {
    margin: unset;
  }

  .header__logo-text {
    display: none;
  }

  .main__desc {
    margin: 0 0 20px 0;
  }

  .products__item-img {
    max-width: 280px;
  }

  .cook-tabs__navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin: -14px;
  }

  .cook-tabs__button {
    margin: 14px;
  }

  .cook-tabs__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .cook-tabs__item-img {
    max-width: 100px;
  }
}

@media (hover: hover) {
  .header__menu-link {
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .header__menu-link:hover {
    color: white;
    background: var(--color-cobalt);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .header__phone-link {
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .header__phone-link:hover {
    color: var(--color-cobalt);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .button {
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .button:hover {
    background: #0969bd;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .cook-tabs__button:hover svg {
    fill: var(--color-cobalt);
  }

  .cook-tabs__button:hover .cook-tabs__button-text {
    color: var(--color-cobalt);
  }
}

.webp .main{ background: #fff url(../img/main_background.webp) center center no-repeat; }

.webp .benefits__body{ background: url(../img/benefits/benefits_background.webp) center center no-repeat; }

.webp .benefits__item:nth-child(1)::before{ background: url(../img/benefits/benefits_svezhiy.webp) center center no-repeat; }

.webp .benefits__item:nth-child(1)::after{ background: url(../img/benefits/benefits_decor-1.webp) center center no-repeat; }

.webp .benefits__item:nth-child(2)::before{ background: url(../img/benefits/benefits_zhivoy.webp) center center no-repeat; }

.webp .benefits__item:nth-child(2)::after{ background: url(../img/benefits/benefits_decor-2.webp) center center no-repeat; }

.webp .benefits__item:nth-child(3)::before{ background: url(../img/benefits/benefits_pishchevareniye.webp) center center no-repeat; }

.webp .benefits__item:nth-child(3)::after{ background: url(../img/benefits/benefits_decor-3.webp) center center no-repeat; }

.webp .benefits__item:nth-child(4)::before{ background: url(../img/benefits/benefits_immunitet.webp) center center no-repeat; }

.webp .benefits__item:nth-child(4)::after{ background: url(../img/benefits/benefits_decor-4.webp) center center no-repeat; }

.webp .cook{ background: url(../img/cook_background.webp) center center no-repeat; }

@media (max-width: 77.49875em){

  .webp .main{ background: #fff url(../img/main_background.webp) 150px center no-repeat; }
}

@media (max-width: 47.99875em){

  .webp .main{ background: #fff url(../img/main_background.webp) -72vw top no-repeat; }
}