.main {
  background-image: url("@img/main_background.jpg");
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 110px 0;

  @media (max-width: $notebook) {
    background-position: 150px center;
  }
  @media (max-width: $tablet) {
    padding: 60px 0;
  }
  @media (max-width: $mobile) {
    background-position: -72vw top;
    background-size: 200%;
    padding: 30px 0;
  }

  // .main__container

  &__container {
  }

  // .main__body

  &__body {
    max-width: 550px;
    @media (max-width: $mobile) {
      max-width: unset;
      margin-top: 63%;
    }
  }

  // .main__title

  &__title {
    margin: 0 0 26px 0;

    @media (max-width: $mobile) {
      margin: 0 0 10px 0;
    }
  }

  // .main__desc

  &__desc {
    margin: 0 0 38px 0;
    @media (max-width: $mobileSmall) {
      margin: 0 0 20px 0;
    }
  }

  // .main__button

  &__button {
  }
}
