.where-buy {
  // .where-buy__container

  &__container {
    padding-top: 16px;
    padding-bottom: 80px;
    border-top: 1px solid #d0d0d0;
  }

  // .where-buy__body

  &__body {
  }

  // .where-buy__top

  &__top {
    display: flex;
    align-items: center;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      margin-bottom: 30px;
    }
  }

  // .where-buy__top-text

  &__top-text {
    max-width: 650px;

    @media (max-width: $notebook) {
      max-width: 500px;
    }
    @media (max-width: $tablet) {
      max-width: unset;
    }
  }

  // .where-buy__top-heading

  &__top-heading {
    text-align: left;
    margin-bottom: 36px;

    @media (max-width: $tablet) {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  // .where-buy__top-desc

  &__top-desc {
    font-size: 30px;
    font-family: Roboto Condensed;

    @media (max-width: $tablet) {
      font-family: Roboto;
      font-size: 20px;
      line-height: 1.2;
    }
  }

  // .where-buy__top-img

  &__top-img {
    @media (max-width: $tablet) {
      max-width: 500px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .where-buy__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;

    @media (max-width: $notebook) {
      flex-direction: column;
    }
  }

  // .where-buy__left

  &__left {
    background-color: #f7f7fb;
    padding: 36px;

    @media (max-width: $pc) {
      padding: 10px;
    }
    @media (max-width: $notebook) {
      margin-bottom: 30px;
      padding: 20px;
      border-radius: 20px;
    }
    @media (max-width: $mobile) {
      padding: 34px 20px;
    }
  }

  // .where-buy__left-heading

  &__left-heading {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media (max-width: $mobileBig) {
      font-size: 22px;
    }
  }

  // .where-buy__left-imgs

  &__left-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: -5px;

    @media (max-width: $mobile) {
      margin: unset;
    }
  }

  // .where-buy__left-img

  &__left-img {
    text-align: center;
    margin: 5px;

    & img {
      @media (max-width: $mobile) {
        width: 100%;
        height: 100%;
        padding: 5px;
      }
    }

    @media (max-width: $mobile) {
      max-width: 100px;
      margin: 0 auto;
    }
  }

  // .where-buy__right

  &__right {
    background-color: #f7f7fb;
    padding: 36px;
    display: flex;
    flex-direction: column;

    @media (max-width: $pc) {
      padding: 10px;
    }
    @media (max-width: $notebook) {
      padding: 20px;
      border-radius: 20px;
    }
    @media (max-width: $mobile) {
      padding: 34px 20px;
    }
  }

  // .where-buy__right-heading

  &__right-heading {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media (max-width: $mobileBig) {
      font-size: 22px;
    }
  }

  // .where-buy__right-imgs

  &__right-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto -5px auto -5px;

    @media (max-width: $mobile) {
      margin: unset;
    }
  }

  // .where-buy__right-img

  &__right-img {
    text-align: center;
    margin: 5px;

    & img {
      @media (max-width: $mobile) {
        width: 100%;
        height: 100%;
        padding: 5px;
      }
    }

    @media (max-width: $mobile) {
      max-width: 100px;
      margin: 0 auto;
    }
  }
}
