// Заголовки, общие БЄМ блоки и проче...
@media (hover: hover) {
  // .header__menu-link

  .header__menu-link {
    transition: 0.2s ease;

    &:hover {
      color: white;
      background: var(--color-cobalt);
      transition: 0.2s ease;
    }
  }
  .header__phone-link {
    transition: 0.2s ease;

    &:hover {
      color: var(--color-cobalt);
      transition: 0.2s ease;
    }
  }
  .button {
    transition: 0.2s ease;

    &:hover {
      background: #0969bd;
      transition: 0.2s ease;
    }
  }
  .cook-tabs__button {
    &:hover {
      & svg {
        fill: var(--color-cobalt);
      }
      & .cook-tabs__button-text {
        color: var(--color-cobalt);
      }
    }
  }
}
h1,
h2 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-title);
  line-height: 1.2;

  @media (max-width: $mobile) {
    font-size: 28px;
  }
  @media (max-width: $mobileSmall) {
    font-size: 24px;
  }
}
h2 {
  text-align: center;
}
.button {
  font-weight: 700;
  color: #fff;
  background: var(--color-cobalt);
  padding: 20px 60px;
  border-radius: 30px;
}
.subtitle {
  font-family: Roboto Condensed;
  font-size: 30px;
  font-weight: 300;
  color: var(--color-title);
  text-align: center;

  @media (max-width: $mobile) {
    font-size: 26px;
  }
  @media (max-width: $mobileSmall) {
    font-size: 20px;
  }
}
.desc {
  line-height: 1.9;
  @media (max-width: $mobileSmall) {
    line-height: 1.5;
  }
}
