// Заголовки, общие БЄМ блоки и проче...
@media (hover: hover) {
  // .header__menu-link

  .header__menu-link {
    transition: 0.2s ease;

    &:hover {
      color: white;
      background: var(--color-cobalt);
      transition: 0.2s ease;
    }
  }
  .header__phone-link {
    transition: 0.2s ease;

    &:hover {
      color: var(--color-cobalt);
      transition: 0.2s ease;
    }
  }
}
h1,
h2 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-title);
  line-height: 1.2;
}
h2 {
  text-align: center;
}
.button {
  font-weight: 700;
  color: #fff;
  background: var(--color-cobalt);
  padding: 20px 60px;
  border-radius: 30px;
}
.subtitle {
  font-family: Roboto Condensed;
  font-size: 30px;
  font-weight: 300;
  color: var(--color-title);
  text-align: center;
}
.desc {
  line-height: 1.9;
}
