.footer {
  background: var(--color-blue);
  padding: 26px 0;
  // .footer__container

  &__container {
  }

  // .footer__body

  &__body {
    display: flex;

    @media (max-width: $mobileBig) {
      flex-direction: column;
    }
  }

  // .footer__logo

  &__logo {
    display: flex;
    flex-direction: column;
    margin: 0 70px 0 0;

    @media (max-width: $mobileBig) {
      margin: 0 0 24px 0;
    }
  }

  // .footer__logo-img

  &__logo-img {
    width: 120px;
    height: 70px;

    & img,
    sourse {
      width: 100%;
      height: 100%;
    }
  }

  // .footer__logo-text

  &__logo-text {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    color: var(--color-title);
  }

  // .footer__text

  &__text {
    line-height: 1.9;
  }

  // .footer__text-bold

  &__text-bold {
    font-weight: 700;
  }
}
