.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: var(--color-blue);

  @media (max-width: $tablet) {
    padding: 10px 0;
  }
  // .header__container

  &__container {
  }

  // .header__body

  &__body {
    display: flex;
    align-items: center;

    @media (max-width: $tablet) {
      justify-content: space-between;
    }
  }

  // .header__logo

  &__logo {
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
    @media (max-width: $mobileSmall) {
      margin: unset;
    }
  }

  // .header__logo-img

  &__logo-img {
    margin: 0 15px 0 0;
    max-width: 73px;

    & img {
      width: 100%;
      height: 100%;
    }

    @media (max-width: $mobileSmall) {
      margin: unset;
    }
  }

  // .header__logo-text

  &__logo-text {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    color: var(--color-title);

    @media (max-width: $mobileSmall) {
      display: none;
    }
  }

  // .header__menu

  &__menu {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    @media (max-width: $tablet) {
      margin: unset;
    }
  }

  // .header__menu-nav

  &__menu-nav {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .header__menu-list

  &__menu-list {
    display: flex;
    align-items: center;
  }

  // .header__menu-item

  &__menu-item {
    //  padding: 12px 20px;
    display: flex;
  }

  // .header__menu-link

  &__menu-link {
    font-weight: 500;
    padding: 22px 20px;
    white-space: nowrap;

    @media (max-width: $notebook) {
      font-size: 15px;
      padding: 22px 18px;
    }
  }

  // .header__phone

  &__phone {
  }

  // .header__phone-link

  &__phone-link {
    font-weight: 500;
    padding: 5px 20px;
    white-space: nowrap;

    @media (max-width: $notebook) {
      font-size: 15px;
    }
    @media (max-width: $tablet) {
      font-size: 18px;
    }
    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }
}

//Burger

.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(26);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

.burger {
  // .burger__menu

  &__menu {
    order: 1;
  }

  // .burger__menu-icon

  &__menu-icon {
  }

  // .burger__menu-nav

  &__menu-nav {
    background-color: #fff;
    border-radius: 8px;
    width: min-content;
    height: min-content;
    box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
    padding: 20px;
    position: absolute;
    right: 24px;
    top: 63px;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
    transition: all 0.3s ease 0.1s;
  }

  // .burger__menu-list

  &__menu-list {
  }

  // .burger__menu-item

  &__menu-item {
    padding: 6px 0;
    opacity: 0;
    transition: 0.2s ease-in;
    transform: translatex(-10px);

    &:last-child {
      padding: 6px 0 0 0;
    }
  }

  // .burger__menu-link

  &__menu-link {
  }
}
.menu-open {
  & .burger__menu-nav {
    opacity: 1;
    transform: scale(1);
  }
  & .burger__menu-item {
    animation: fadeInItem 0.6s 0.2s forwards;

    &:nth-child(1) {
      animation-delay: 0.4s;
    }
    &:nth-child(2) {
      animation-delay: 0.6s;
    }
    &:nth-child(3) {
      animation-delay: 0.8s;
    }
    &:nth-child(4) {
      animation-delay: 1s;
    }
  }
}

@keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}
